<h2>Neue Fahrt anbieten</h2>

<form [formGroup]="createRideForm" (ngSubmit)="onSubmit()">
  
  <div class="form-group">
    <label for="create-from">Start</label>
    <input id="create-from" type="text" formControlName="from">
  </div>
  
  <div class="form-group">
    <label for="create-to">Ziel</label>
    <input id="create-to" type="text" formControlName="to">
  </div>
  
  <div class="form-group">
    <label for="create-date">Datum</label>
    <input id="create-date" type="date" formControlName="date">
  </div>
  
  <div class="form-group">
    <label for="create-time">Uhrzeit</label>
    <input id="create-time" type="time" formControlName="time">
  </div>
  
  <div class="form-group">
    <label for="create-seats">Freie Plätze</label>
    <input id="create-seats" type="number" min="1" formControlName="seats">
  </div>

  <button type="submit" [disabled]="!createRideForm.valid">Fahrt erstellen</button>
  
  <a routerLink="/rides" style="margin-left: 1rem;">Abbrechen</a>
</form>